<nav>
  <button class="btn-menu">
    <img src="assets/svg/leading-icon.svg" alt="Menu Icon">
  </button>
  <img class="img-h2" src="assets/svg/logo-vaper-app_H2.svg" alt="VaperApp Logo">
</nav>

<div class="main-content">
  <router-outlet />
</div>

<div class="bottom-nav">
  <a routerLink="/" class="nav-item">
    <img src="assets/svg/icono1.svg" alt="Inicio">
    <span>Inicio</span>
  </a>
  <a routerLink="mapa" class="nav-item">
    <img src="assets/svg/icono2.svg" alt="Ubicación">
    <span>Ubicación</span>
  </a>
  <a routerLink="especialistas" class="nav-item">
    <img src="assets/svg/icono3.svg" alt="Especialistas">
    <span>Especialistas</span>
  </a>
  <a routerLink="login" class="nav-item">
    <img src="assets/svg/icono4.svg" alt="Inicia Sesión">
    <span>{{ text }}</span>
  </a>
</div>
