<div class="login-container">
  <div class="logo">
    <img src="assets/svg/logo-vaper-app.svg" alt="VaperApp Logo">
  </div>
  <div class="login-card">
    <form (ngSubmit)="reset()">
      <label >Correo electrónico</label>
      <input type="text" [formControl]="email" placeholder="Ingrese su Correo">

      <button type="submit" class="login-button">Ingresar</button>
    </form>
    <p class="register-text">
      ¿No tienes una cuenta? <a routerLink="/registro" class="register-link">¡Regístrate ahora!</a>
    </p>
  </div>
</div>
