a {
  text-decoration: none;
}

.info-icon {
  width: 60px !important;
  height: 60px!important;
  margin-right: 26px;
}

h2 {
 margin-bottom: 0px;
}

span {
  margin-top: 0px;
  font-size: 12px;
  color: #A4B0BE;
}

.header-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}


h2 {
  color: #313E4C !important;
  margin-top: 5px;
}
