<nav>
  <button class="btn-menu">
    <img src="../assets/svg/leading-icon.svg" alt="Menu Icon">
  </button>
  <img class="img-h2" src="../assets/svg/logo-vaper-app_H2.svg" alt="VaperApp Logo">
</nav>

<div class="main-content">
  <div class="header">
    <img src="../assets/images/header-image.png" alt="Doctor holding heart and vape" class="header-image">
    <h1>Cambia tu vida para mejor</h1>
    <p>Agenda una cita y te ayudaremos con el problema al que te enfrentas.</p>
  </div>
  <section class="info-section">
    <h2>Infórmate y cambia tu vida</h2>
    @for (item of infoItems; track $index) {
      <div class="info-item">
        <img [src]="item.icon" alt="Icon" class="info-icon">
        <div class="info-text">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>
      </div>
    }
  </section>
</div>

<div class="bottom-nav">
  <a href="#" class="nav-item">
    <img src="../assets/svg/icono1.svg" alt="Inicio">
    <span>Inicio</span>
  </a>
  <a href="#" class="nav-item">
    <img src="../assets/svg/icono2.svg" alt="Ubicación">
    <span>Ubicación</span>
  </a>
  <a href="#" class="nav-item">
    <img src="../assets/svg/icono3.svg" alt="Especialistas">
    <span>Especialistas</span>
  </a>
  <a href="#" class="nav-item">
    <img src="../assets/svg/icono4.svg" alt="Inicia Sesión">
    <span>Inicia Sesión</span>
  </a>
</div>
