<div class="header">
  <img src="assets/images/vaper.jpg" alt="Vaper" >
  <h1>¿Que es el vapeo?</h1>
  <p>El vapeo es el acto de inhalar vapor producido por un dispositivo electrónico llamado cigarrillo electrónico o vaporizador.
    Estos dispositivos calientan un líquido (conocido como "e-líquido" o "e-juice") que contiene sustancias como nicotina,
    saborizantes y otros compuestos químicos. A diferencia del humo de los cigarrillos tradicionales, el vapeo genera vapor,
    pero sigue siendo objeto de debate debido a sus posibles riesgos para la salud, especialmente en relación con la adicción
    a la nicotina y otras sustancias contenidas en el líquido.
  </p>
  <p>
    Consiste en inhalar un aerosol generado por dispositivos electrónicos, comúnmente conocidos como vaporizadores o
    cigarrillos electrónicos. Estos dispositivos calientan un líquido, que generalmente contiene nicotina, saborizantes
    y otros compuestos, para convertirlo en vapor que luego es inhalado por el usuario. A diferencia de los cigarrillos
    convencionales, el vapeo no implica la combustión de tabaco, lo que elimina la producción de alquitrán y otros productos
    químicos nocivos que se liberan al quemar tabaco. Aunque es una alternativa popular entre quienes buscan reducir o dejar
     de fumar, el vapeo ha sido objeto de estudios y debates debido a sus posibles riesgos para la salud y los efectos de la
     exposición prolongada a algunas de sus sustancias.
  </p>
</div>
