<div class="header">
  <img src="assets/images/efectos.jpg" alt="Vaper" >
  <h1>Efectos del vapeo en la salud</h1>
  <p>Los efectos del vapeo en la salud aún están siendo estudiados, pero varios riesgos han sido identificados. Algunos de los principales efectos incluyen:</p>

  <p>Adicción a la nicotina: Muchos líquidos de vapeo contienen nicotina, una sustancia altamente adictiva, que puede afectar el desarrollo del cerebro en adolescentes y causar dependencia en adultos.</p>

  <p>Problemas respiratorios: El vapeo puede irritar las vías respiratorias y, en algunos casos, provocar tos crónica y síntomas de dificultad respiratoria, especialmente en personas con asma u otros problemas pulmonares preexistentes.</p>

  <p>Riesgo cardiovascular: La exposición a la nicotina y otros compuestos en el vapor puede elevar la frecuencia cardíaca y la presión arterial, lo que podría aumentar el riesgo de enfermedades cardíacas y eventos cardiovasculares en usuarios a largo plazo.</p>

  <p>Daños a nivel celular: Algunos estudios han mostrado que los aerosoles de vapeo pueden causar daño celular en los pulmones, afectando el sistema inmunológico y la capacidad del cuerpo para combatir infecciones, lo que podría dejar a los usuarios más vulnerables a enfermedades respiratorias.</p>

  <p>Desconocimiento de efectos a largo plazo: Debido a que el vapeo es relativamente nuevo, los efectos a largo plazo aún no se comprenden completamente, y se están investigando los riesgos potenciales para la salud que podrían surgir tras años de uso continuo.</p>
</div>
